@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
}
ul {
	list-style: none;
}
body {
	background: #333;
	color: #fff;
	font-family: 'Chelsea Market', san-serif;
	font-size: 15px;
	line-height: 1.5;

}

.container {
	width: 85%;
	margin: auto;
}
.btn {
	color: #ec4c00;
	font-weight: bold;
	transition: all 0.3s ease;
}
.btn:hover  {
	opacity: 0.8;
}
.btn:hover i {
	transform: translateX(5px);
}
.orange {
	color: #ec4c00;
}

/*nav*/
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
.logo {
	color: #f2395a;
	font-size: 30px;
	transform: skew(-3deg, -3deg);
	transform-origin: center center;
	transition: all 0.5s ease-in-out;
	text-shadow: 1px 1px #d10e31,
}
.main-group {				 1px 1px #d10e31;
	flex: 1;				 1px 1px #d10e31;
	padding-left: 20px;				 1px 1px #d10e31;
				 1px 1px #d10e31;}
nav li {
	display: inline-block;
	padding: 0 10px;
}
nav a:hover {
	padding-bottom: 5px;
	border-bottom: 2px #fff solid;
}
/*end of nav*/


/*showcase*/

.showcase {
	height: 400px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: url("img/showcase.jpg") no-repeat top/cover;
} 
.content {
	padding-left: 10px;
	width: 40%;
	color: #333;
}
.content p {
	padding: 10px 0;
}
/*end of showcase*/

/*card*/

.courses-title {
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
}
.card-group {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1em;

}
.card {
	margin: auto;
	padding: 30px 0;
}
.card img {
	height: 150px;
	width: 100%;

}
/*end of card*/


/*induvidual*/
.individual {
	height: 400px;
	background: url(img/indual.jpg) no-repeat center center/cover;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	opacity: 0.8;
	position: relative;
}
.individual .content {
	opacity: 1;
	position: absolute;
	color: #fff;
	
}
